:root {
    --color-dark: #1b1b1b;
    --color-light: #ffffff;
}

/* ===== MOBILE FIRST ===== */

/* Десктопне меню приховано */
.header__menu {
    display: none;
}

.header__icons {
    display: none;
}

.burger {
    width: 32px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.burger__line {
    width: 100%;
    height: 3px;
    background-color: var(--color-light);
    border-radius: 3px;
}

/* Мобільне меню спочатку приховане */
.mobile-menu {
    /* display: none;
    position: absolute;
    top: 60px;
    right: 16px;
    background-color: var(--color-light);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15); */

     display: block; /* важливо — ховаємо через opacity, а не display */
    
    opacity: 0;
    transform: translateY(-10px);
    
    pointer-events: none;
    
    transition: opacity 0.3s ease, transform 0.3s ease;
    
    position: absolute;
    top: 60px;
    right: 16px;
    background-color: var(--color-light);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
}

.mobile-menu--open {
       display: block;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    width: 80%;
    height: 100%;
    background: #252B42;
}

.mobile-menu__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header__menu-link {
    color: var(--Light-text, #FFF);
    text-align: center;
    /* Link */
    font-family: Graphik;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 186.667% */
    letter-spacing: 0.2px;
    text-decoration: none;
}

/* ===== DESKTOP VERSION ===== */
@media (min-width: 768px) {
    .burger {
        display: none;
    }

    .header__menu {
        display: flex;
        gap: 24px;
        align-items: center;
    }

     .header__icons {
        display: flex;
        gap: 24px;
        align-items: center;
    }

    .mobile-menu {
        display: none !important;
    }
}