.features {
    display: flex;
    padding: 80px 0;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    align-self: stretch;
}

.features__title {
    color: var(--text, #252B42);
    text-align: center;
    /* H2 */
    font-family: Graphik;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    /* 114.583% */
    letter-spacing: 0.2px;
}