.header {
    background: url(/img/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 847px;

    .header__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        .header__logo {
            padding: 10px;
        }

        .header__menu {}
    }

    .header__hero {
        width: 418;
        height: 750;
        opacity: 1;
        padding-top: 30px;
        padding-right: 20px;
        padding-bottom: 30px;
        padding-left: 20px;
        gap: 10px;
    }

    .header__text-content {
        display: flex;
        padding: 30px 20px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }

    .header__title {
        color: var(--light-text, #FFF);
        text-align: center;
        /* H2 */
        font-family: Graphik;
        font-size: 48px;
        font-style: normal;
        
        line-height: 55px;
        /* 114.583% */
        letter-spacing: 0.2px;

    }

    .header__subtitle {
        color: var(--light-text, #FFF);
        text-align: center;
        /* H4 */
        font-family: Graphik;
        font-size: 28px;
        font-style: normal;
         
        line-height: 40px;
        /* 142.857% */
        letter-spacing: 0.2px;
    }

    .header__button-container {
        display: flex;
        width: 378px;
        padding: 50px 0;
        flex-direction: column;
        align-items: center;
        gap: 59px;
    }

    .header__try-button {
        display: flex;
        width: 236px;
        padding: 16px 0;
        flex-direction: column;
        align-items: center;
        border-radius: 35px;
        background: var(--primary, #2091F9);
        color: var(--light-text, #FFF);
        font-family: Graphik;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 100% */
        letter-spacing: 0.2px;
    }

    .header__hero__padding-bottom {
        width: 378px;
        height: 128px;
    }
}

/* big responsive adjustment */
@media (min-width: 1024px) {
    .header {
        background: url(/img/bg-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 930px;

        .heder__hero {
            display: flex;
            padding: 80px 0;
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
        }

        .header__text-content {
            display: flex;
            padding: 80px 0px;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            align-self: center;
            width: 786px;
        }

        .header__title {
            color: var(--light-text, #FFF);
            text-align: center;
            /* H1 */
            font-family: Graphik;
            font-size: 74px;
            font-style: normal;
            font-weight: 700;
            line-height: 84px;
            /* 113.514% */
            letter-spacing: 0.2px;
        }


    }
}