.header {
    background: url(/img/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;

    .header__content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 172px;
        align-self: stretch;

        .header__logo {
            padding: 10px;
        }

        .header__menu {}
    }

    .header__hero {
        width: 418;
        height: 750;
        angle: 0 deg;
        opacity: 1;
        padding-top: 30px;
        padding-right: 20px;
        padding-bottom: 30px;
        padding-left: 20px;
        gap: 10px;
    }

    .header__title {
        font-family: Graphik;
        font-weight: 400;
        font-size: 48px;
        line-height: 55px;
        letter-spacing: 0.2px;
        text-align: center;
        color: var(--text-color);
        margin-top: 20px;

    }

    .header__subtitle {
        /* H4 */
        font-family: 'Graphik';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 40px;
        /* or 143% */
        text-align: center;
        letter-spacing: 0.2px;

        /* Light text */
        color: #FFFFFF;
    }

    .header__try-button {
        /* container */

        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 13px;

        width: 378px;
        height: 52px;


        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;


        /* # Action content */

        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 13px;

        width: 236px;
        height: 52px;


        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;


        /* @ big button */

        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;

        width: 236px;
        height: 52px;


        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;


        /* master button */

        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 0px;

        width: 236px;
        height: 52px;

        /* Primary */
        background: #2091F9;
        border-radius: 35px;

        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;


        /* Text Button */

        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 10px;

        width: 64px;
        height: 20px;


        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;


        /* Try For Free */

        width: 64px;
        height: 20px;

        /* Button */
        font-family: 'Graphik';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        /* identical to box height, or 100% */
        letter-spacing: 0.2px;

        /* Light text */
        color: #FFFFFF;


        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;



    }
}