.header {
    background: url(/img/background.jpg);
    background-repeat: no-repeat;

    .header__nav {
        display: flex;
        justify-content: space-between;

        .header__logo {}

        .header__menu {}
    }

    .header__hero {
        
        .header__title {
            font-family: Graphik;
            font-weight: 400;
            font-size: 48px;
            leading-trim: NONE;
            line-height: 55px;
            letter-spacing: 0.2px;
            text-align: center;
            color: var(--text-color);
        }
    }



}