.partners__header {
    color: var(--text, #252B42);
    text-align: center;
    font-family: Graphik;
    font-size: 48px;
    font-style: normal;
    line-height: 55px;
    letter-spacing: 0.2px;
}

.partners__title {
    color: var(--second-text, #374754);
    text-align: center;
    font-family: Graphik;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.2px;
    padding: 0 10px;
}

.partners__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
}


.partners__logos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;

    .partners__logo {
        display: flex;
        padding: 25px 40px;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 273px;
        border: 1px solid #D8D8D8;
        background: var(--light-background, #FFF);

        .partners__client-name {
            color: var(--second-text, #374754);

            /* H5 */
            font-family: Graphik;
            font-size: 16px;
            font-style: normal;
            line-height: 23px;
            /* 143.75% */
            letter-spacing: 0.1px;
        }
    }
}

.partners__logos .partners__logo:nth-child(n + 4) {
    display: none;
}

.partners__button-container{
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
    gap: 59px;
}

.partners__try-button {
    display: flex;
    width: 236px;
    padding: 16px 0;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    background: var(--primary, #2091F9);
    color: var(--light-text, #FFF);
    font-family: Graphik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
}

@media (min-width: 768px) {
    .partners__logos .partners__logo:nth-child(n + 4) {
        display: flex;
    }

    .partners__logos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 0;
    }



}