.pricing {
    display: flex;
    padding: 0 28px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: var(--dark-background, #252B42);

    .pricing__content {
        padding: 100px 0;
    }

    .pricing__header {
        color: var(--light-text, #FFF);
        text-align: center;
        /* H2 */
        font-family: Graphik;
        font-size: 48px;
        font-style: normal;
        line-height: 55px;
        /* 114.583% */
        letter-spacing: 0.2px;
    }

    .pricing__title {
        color: var(--Light-text, #FFF);
        text-align: center;
        /* H4 */
        font-family: Graphik;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        /* 142.857% */
        letter-spacing: 0.2px;
    }

    .pricing__cards {
        display: flex;
        padding: 60px 0;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        justify-content: center;
    }

    .pricing__card--free {
        background: var(--light-background, #FFF);
    }

    .pricing__card--standard {
        background: var(--primary, #2091F9);
        color: var(--light-text, #FFF);

        .pricing__card-title,
        .pricing__card-subtitle,
        .pricing__card-price,
        .pricing__card-sign {
            color: var(--light-text, #FFF);

        }

        .pricing__try-button {
            background: var(--light-text, #FFF);
            color: var(--primary, #2091F9);
        }
    }

    .pricing__card {
        display: flex;

        padding: 40px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        max-width: 300px;
        border-radius: 10px;
        border: 1px solid #DEDEDE;

        box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
    }

    .pricing__card-title {
        color: var(--text, #252B42);
        /* H3 */
        font-family: Graphik;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        /* 140% */
        letter-spacing: 0.1px;
        text-align: center;
    }

    .pricing__card-subtitle {
        color: var(--second-text, #374754);
        text-align: center;
        /* H5 */
        font-family: Graphik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        /* 143.75% */
        letter-spacing: 0.1px;
    }

    .pricing__price-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 30px 0;

        .pricing__card-price {

            /* H1 */
            font-family: Graphik;
            font-size: 74px;
            font-style: normal;
            font-weight: 700;
            line-height: 84px;
            /* 113.514% */
            letter-spacing: 0.2px;
        }

        .pricing__card-sign {

            /* H3 */
            font-family: Graphik;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            /* 140% */
            letter-spacing: 0.1px;
        }
    }

    .pricing__card-feature {
        display: flex;
        padding: 10px;
        align-items: center;
        gap: 10px;
        justify-content: center;
    }

    .pricing__button-container {
        display: flex;
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
        gap: 59px;
    }

    .pricing__try-button {
        display: flex;
        width: 236px;
        padding: 16px 0;
        flex-direction: column;
        align-items: center;
        border-radius: 35px;
        background: var(--primary, #2091F9);
        color: var(--light-text, #FFF);
        font-family: Graphik;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
    }
}

@media (min-width: 1024px) {
    .pricing {
        .pricing__cards {
            display: flex;
            padding: 60px 0;
            flex-direction: row;
            align-items: center;
            gap: 30px;
            justify-content: center;

            .pricing__card--standard {
                padding: 83px 40px;
            }
        }
    }
}