.testimonials__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .testimonials__header {
        color: var(--text, #252B42);
        text-align: center;
        font-family: Graphik;
        font-size: 48px;
        font-style: normal;
        line-height: 55px;
        letter-spacing: 0.2px;
    }

    .testimonials__title {
        color: var(--second-text, #374754);
        text-align: center;
        font-family: Roboto;
        font-size: 13.526px;
        font-style: normal;
        font-weight: 700;
        line-height: 16.907px;
        /* 125% */
        letter-spacing: 0.169px;
    }

    .testimonials__profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .testimonials__button-container {
        display: flex;
        padding: 50px 0;
        flex-direction: column;
        align-items: center;
        gap: 59px;
    }

    .testimonials__try-button {
        display: flex;
        width: 236px;
        padding: 16px 0;
        flex-direction: column;
        align-items: center;
        border-radius: 35px;
        background: var(--primary, #2091F9);
        color: var(--light-text, #FFF);
        font-family: Graphik;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
    }
}