<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
</head>

<body>
    <header>
        <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="header.partial.html"></nav>
    </header>
    <main>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="features.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="calendar.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="newsletter.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="partners.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="testimonials.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="pricing.partial.html"></section>

    </main>
    <footer></footer>
</body>

</html>